* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Hiragino Sans", "Meiryo", sans-serif;
}

.content {
    max-width: 1515px;
    margin: 0 auto;
    padding-bottom: 120px;
}

input::placeholder,
textarea::placeholder {
    color: #444444;
    font-size: 16px;
}

.form_error--message {
    font-size: 18px;
    color: #ff5555;
    margin-top: 10px;
}

@media screen and (max-width:850px) {
    .content{
        max-width: 850px;
    }

}