.item-detail__wrapper{
    max-width: 1380px;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
}

.item-image__wrapper{
    width:690px;
    padding: 35px 45px;
}

.item-detail__image{
    width:600px;
    height:600px;
    object-fit: contain;
}

.item-info_wrapper{
    width: 690px;
    padding: 35px 60px;
}

.item-info__header,
.item-info__detail{
    margin-bottom: 20px;
}
.item-info__name{
    font-size: 45px;
    font-weight: bold;
}

.item-info__brand{
    font-size: 20px;
}

.item-info__price-area{
    display: flex;
    align-items: baseline;
    margin: 30px 0;
}

.item-info__price--display{
    font-size: 30px;
}

.item-info__price{
    font-size: 45px;
}

.item-info__icon-area{
    display: flex;
    margin-left: 45px;
    width:145px;
    justify-content: space-between;
}

.item-info__icon--icon{
    width:40px;
    height: 40px;
}

.item-info__button--liked {
    background: transparent;
    outline: none;
    border:none;
    padding: 0;
    cursor: pointer;
}

.item-info__icon--count{
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.button-area{
    margin: 25px 0 20px;
}

.button__medium {
    width: 100%;
    height: 60px;
    background-color: #ff5555;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.item-info__detail--header,
.item-info__comment--header{
    font-size: 36px;
    font-weight: bold;
    margin: 40px 0 20px;
}

.item-info__detail--description{
    font-size: 24px;
    line-height: 1.5;
    outline: none;
}

.item-info__information{
    display: flex;
    align-items: baseline;
}

.item-info__information:last-child{
    margin-bottom: 20px;
}

.item-info__information--header{
    font-size: 24px;
    font-weight: bold;
    margin-right: 60px;
    margin-bottom: 20px;
}

.item-info__icon--gray{
    display: inline-block;
    padding: 5px 30px;
    background-color: #d9d9d9;
    border-radius: 50px;
    font-size: 20px;
    margin-right: 20px;
}

.item-info__icon--white {
    display: inline-block;
    padding: 5px 30px;
    background: transparent;
    border-radius: 50px;
    font-size: 20px;
    margin-right: 20px;
}

.item-info__comment--header {
    color:#5f5f5f;
}

.item-info__comment--user{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.item-info__comment--image{
    width:70px;
    height:70px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 20px;
}

.item-info__comment--name{
    font-size: 30px;
    font-weight: bold;
}

.item-info__comment--comment{
    width: 100%;
    background-color: #e5e5e5;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 40px;
}

.comment-form__label{
    font-size: 28px;
    font-weight: bold;
}

.comment-form__input--textarea{
    font-size: 20px;
    line-height: 1.5;
    border: 1px solid #5f5f5f;
    border-radius: 5px;
    outline: none;
    padding: 15px;
    width:570px;
    margin-top: 10px;
}

@media screen and (max-width:850px){
    .item-detail__wrapper{
        display: block;
        padding: 50px;
    }

    .item-detail__image{
        width:75%;
        height: 75%;
    }

    .item-image__wrapper{
        text-align: center;
    }
}