.sell-form__header{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.item-image__input{
    display: none;
}

.item-image__upload__wrapper{
    height: 150px;
    border: 1px dotted #5f5f5f;
    border-radius: 4px;
    text-align: center;
    position: relative;
}

.button__white--mini{
    font-size: 14px;
    width: 165px;
    padding-top: 105px;
}

.button__white--mini::file-selector-button{
    display: block;
    position: absolute;
    top:0;
    bottom: 0;
    right:0;
    left: 0;
    margin: auto;
    width:165px;
    height:45px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    color: #ff5555;
    border: 2px solid #ff5555;
    padding: 8px 16px;
    text-align: center;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

.form__header--sub{
    border-bottom:1px solid #5f5f5f;
    margin-bottom: 40px;
    padding-bottom: 10px;
}

.form__header--sub:first-child{
    margin-top: 80px;
}

.subtitle{
    font-size: 30px;
    font-weight: bold;
    color: #5f5f5f;
}

.category-area__wrapper{
    margin-bottom: 65px;
}

.category-button__wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
    padding-bottom: 5px;

}
.category-input{
    display: none;
}

.category-display{
    display: inline-block;
    height: 32px;
    color:#ff5555;
    font-size: 15px;
    font-weight: bold;
    padding: 4px 16px 3px;
    background-color: #ffffff;
    border-radius: 50px;
    border: 2px solid #ff5555;
}

.category-input:checked + .category-display{
    color: #ffffff;
    background-color: #ff5555;
}

.condition-input,
.form-input,
.form-input__price{
    width:100%;
    font-size: 16px;
    height: 45px;
    border: 1px solid #5f5f5f;
    padding: 10px 15px;
    border-radius: 4px;
    outline:none;
}

.condition-input,
.form-input{
    width:100%;
}

.form-input__description {
    width:100%;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #5f5f5f;
    padding: 15px;
    border-radius: 4px;
    outline: none;
}

.sell-form__price--display{
    font-size: 18px;
    font-weight: bold;
}

.form-input__price{
    width:96%;
    margin-left: 5px;
}