.input-form__wrapper{
    width:680px;
    margin:0 auto;
    padding-top: 100px;
}

.title{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.form__group{
    width:100%;
    margin-bottom: 40px;
}

.form__title{
    margin-bottom: 5px;
}

.form__label{
    font-size: 24px;
    font-weight: bold;
}

.form__input{
    width: 100%;
    font-size:20px;
    padding: 10px;
    border: 1px solid #5f5f5f;
    border-radius: 4px;
    height:60px;
    outline: none;
}

.button-area{
    margin-top: 100px;
    text-align: center;
}

.button__large{
    width:100%;
    height:60px;
    background-color: #ff5555;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    color:#ffffff;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 30px;
}

.link__text{
    text-align: center;
}

.link__text--auth{
    font-size: 20px;
    color: #0037cc;
}

/*メール認証画面*/

.information-text{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 2;
}

.button-area__gray {
    margin:60px 0;
    text-align: center;
}

.button_mail-auth{
    font-size: 20px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 4px;
    background-color: #d9d9d9;
}

.button_mail--resend{
    border: none;
    background: transparent;
    color:#0037cc;
    font-size: 20px;
    line-height: 1.5;
    cursor: pointer;
}

.success-message{
    color: green;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}


@media screen and (max-width:850px) {
    .input-form__wrapper {
        padding-top: 80px;
    }

}