.header {
    background: #000000;
    position: sticky;
    top:0;
    z-index: 10;
}

.header__inner,
.header__inner--auth {
    max-width: 1515px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header__inner--auth{
    padding: 20px 25px;
}

.header__inner{
    padding: 10px 25px;
}

.header__logo{
    margin-right: 100px;
}
.header__utilities{
    display: flex;
    width:100%;
    justify-content: space-between;
}

.header__search{
    width:500px;
    height:50px;
}

.header__search input{
    width:100%;
    height:100%;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 24px;
    color: #000000;
    outline: none;
    border: none;
}

.header__navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__button--text{
    border: none;
    background: transparent;
    color: #fff;
    font-size: 24px;
    line-height: 1.5;
    cursor: pointer;
    margin-right: 30px;
}

.header__button--exhibit{
    width:100px;
    height:100%;
    padding: 5px;
    line-height: 1.5;
    background-color: #ffffff;
    border-radius: 4px;
    font-size: 24px;
    cursor: pointer;
}

@media screen and (max-width:850px) {
    .input-form__wrapper {
        padding-top: 80px;
    }

    .header__inner{
        max-width: 850px;
        display: block;
        padding: 30px 40px 20px;
    }

    .header__utilities{
        display: block;
        text-align: center;
    }

    .header__search {
        margin: 25px 96px 20px;
        width:75%;
    }
}