/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.*
!/.env.example
.env.backup
.phpunit.result.cache
docker-compose.override.yml
docker/mysql/data/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode